/* ABOUT SECTION CSS CODE */
.about-container{
    margin-top: 32px;
}
.about-heading{
    display: flex;
    flex-direction: row;
    color: #4789C0;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
}
/* for drawing a line with About heading */
.about-line{
    border-bottom: 1px inset #4789C0;
    flex: 1;
    height: 0;
    /* width:80%; */
}
.about-sub-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 40px;
}
/* for all text in the about section */
.about-description-container{
    width:68%;
}
/* for all images in the about section */
.about-img-container{
    width:32%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
/* flex is for making one para's display to flex including its image */
.about-h1-text{
    /* About heading */
    /* width:20%; */
    color:#4789C0;
    font-size:36px;
    padding-bottom:20px;
}
.about-sub-heading{
    /* Para headings */
    color:#4789C0;
    margin: 0px;
    padding: 0px;
    text-align: initial;
    font-size:28px;
    padding-bottom:10px;
}
.about-logo-image{
     /* for all images */
    margin:0px;
    width: 250px;
    height : auto;
}
.about-description-text{
     /* for all text dimensions */
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom:20px;
}
.about-text-paragraph{
    font-size: 18px;
}

/* media queries */
@media screen and (min-width: 320px) and (max-width: 480px){
    .about-heading{
        margin-left: 20px;
        margin-right: 20px;
    }
    .about-h1-text{
        font-size: 24px;
    }
    .about-sub-container{
        flex-direction: column;
        margin-bottom: 14px;
    }
    .about-logo-image{
        width: 120px;
        margin-bottom: 10px;
    }
    .about-img-container{
        width: 100%;
    }
    .about-description-container{
        width: 100%;
    }
    .about-description-text{
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }
    .about-sub-heading{
        font-size: 20px;
    }
    .about-text-paragraph{
        font-size: 14px;
    }
    #about-first, #about-one{
        order: 2;
    }
    #about-second, #about-two{
        order: 1;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px){
    .about-heading{
        margin-left: 48px;
        margin-right: 48px;
    }
    .about-sub-container{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .about-logo-image{
        width: 180px;
    }
    .about-sub-heading{
        font-size: 24px;
    }
    .about-text-paragraph{
        font-size: 16px;
    }
    .about-img-container{
        width: 100%;
    }
    .about-description-container{
        width: 100%;
    }
    #about-first, #about-one{
        order: 2;
    }
    #about-second, #about-two{
        order: 1;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .about-logo-image{
        width: 200px;
    }
    .about-text-paragraph{
        font-size: 16px;
    }
}