.collab_main{
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content:space-evenly;

}
.collab_element{
    display:flex;
    margin-right: 30px;
}

 /*div containing collabs-text*/
.collabs-heading{
  font-family: 'Noto Sans',Arial;
  display:flex;
  flex-direction: row;
  color:#4789C0;
  align-items: center;
  margin-left:80px;
  margin-right:80px;
}
.collab-img{
  height: 200px;
}
.collabs-text{
  font-size:36px;
  font-weight:bold;
}

.marquee_css{
  margin-left:80px;
  margin-right:80px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .collabs-text{
    font-size: 24px;
  }
  .collabs-heading{
    margin-left: 28px;
  }
  .collab_main{
    height: 120px;
  }
  .collab-img{
    height: 120px;
  }
  .marquee_css{
    margin-left: 32px;
    margin-right: 32px;
  }
}