.contact-us-heading {
  /* styling for the heading contact us */
  display: flex;
  justify-content: center;
}

.contact-heading {
  /* text styling for the contact us heading */
  background-color: #0277d9;
  font-style: normal;
  font-size: 2.4vw;
  border-radius: 1.3vw 1.3vw 1.3vw 1.3vw;
  box-shadow: 0vw 0.5vw 0.5vw rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 8px 16px 8px 16px;
}
.contact-subcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  margin-top: 40px;
}
.contact-map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Contactgmap {
  /*styling for the map */
  border-color: #4789c0;
  border-radius: 1.3vw 1.3vw 1.3vw 1.3vw;
  width: 30vw;
  height: 25vw;
}
.contact-map-address {
  /* designing for the text below the map */
  font-style: normal;
  font-weight: 700;
  font-size: 1.25vw;
  padding-top: 20px;
  width: 30vw;
  text-align: center;
  color: #928f8f;
}
.contact-form-inputDiv{
  display: flex;
  position: relative;
}
.contact-iconDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 4vw;
  height: 4vw;
}
.contact-form-input {
  border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
  height: 4vw;
  width: 28vw;
  margin-bottom: 1vw;
  font-size: 1.4vw;
  font-style: normal;
  color:#928f8f;
  resize: none;
  padding-left: 4vw;
  border: 1px solid ;
}
.contact-input-icon {
  color: #0277d9;
  width: 2.3vw;
  height: 2.3vw;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.contact-message-box{
  border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
  min-height: 8vw;
  width: 28vw;
  margin-bottom: 1vw;
  font-size: 1.4vw;
  font-style: normal;
  color:#928f8f;
  resize: none;
  padding-top: 0.5vw;
  padding-left: 1vw;
  resize: vertical;
  border: 1px solid ;
}
.contact-form-submitBtn{
  /* styling for the submit  button */
  align-items: center;
  background-color: #0277d9;
  overflow-wrap: break-word;
  font-size: 2vw;
  margin-top: 10px;
  border-color: #0277d9;
  padding: 2px 4px 4px 4px;
  width: 28vw;
  border-radius: 1.3vw 1.3vw 1.3vw 1.3vw;
  color: #fff;
  cursor: pointer;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* media queries */
@media screen and (min-width: 320px) and (max-width: 768px){
  .contactus-container{
    margin-top: 20px; 
  }
  .contact-heading{
    font-size: 5vw;
  }
  .contact-subcontainer{
    flex-direction: column;
    gap: 10px;
    margin-top: 32px;
  }
  .contact-form-container{
    margin-bottom: 20px;
  }
  .contact-map-container{
    display: none;
  }
  .contact-iconDiv{
    width: 8.6vw;
    height: 8.6vw;
  }
  .contact-input-icon{
    width: 4vw;
    height: 4vw;
  }
  .contact-form-input{
    width: 80vw;
    height: 9vw;
    font-size: 3.5vw;
    padding-left: 8.4vw;
    margin-bottom: 3.2vw;
  }
  .contact-message-box{
    width: 80vw;
    min-height: 18vw;
    font-size: 3.5vw;
  }
  .contact-form-submitBtn{
    width: 80vw;
    height: 9vw;
    font-size: 3.2vw;
  }
}
