.events-heading{ /*div containing projects-text and horizontal-line*/
    display:flex;
    flex-direction: row;
    color:#4789C0;
    align-items: center;
    margin-left:80px;
    margin-right:80px;
}
.events-text{
    font-size:36px;
    font-weight:bold;
}
.horizontal-line{ /*Horizontal line styling*/
    border-bottom:1px inset #4789C0;
    flex:1;
    height:0;
}
/* main container for the events */
.Eventscontainer{
width: auto;
height: 40vh;

display: flex;
justify-content:space-around;
align-items: center;
margin-top: 5vh;
}
.event_center{
    display: flex;
    width: 73%;
    justify-content: space-between;
    padding: 2vh 0 2vh 0 ;
}
.Eventscard{
width: 32vw;
height: 17vw;
background: #F9FCFF;
box-shadow: 0.5vw 0.5vw 0.5vw  rgba(0, 0, 0, 0.25);
border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
transition: transform.5s;
display: flex;
flex-direction: row;
margin: 0 10px;
}
.Eventscard:hover{
    /* hover effect for card 1 */
    transform: scale(1.1);
    box-shadow: 0.5vw 0.5vw 0.5vw  #647691;
    /* margin-top: 5vh; */
    /* margin-bottom: 5vh; */
}
.Eventstext{
    font-size: 0.8vw;
    width:55%;
    display: flex;
    flex-direction: column;
}

.Eventsh{
    /* border:1px solid purple;  */
    height:20%;
    margin: 0.5vh 0 0 0.6vw ;
}
#con{
    /* width: 90%; */
    /* border:1px solid red; */
    height: 80%;
    font-size: 0.9vw;
    margin:0 0.6vw;
}

#poster{
width: 45%;
height: 100%;
border-radius: 1.5vw 0vw 0vw 1.5vw;
} 

/* next buttons */
.Eventscards{
    position: relative;
    top: -14.5vw;
}
#right{
    /* styling for the right svg */
    box-sizing: border-box;
    position: relative;
    left: 88vw;
    top: 0.5vw;
    transition: transform 0.3s;
    background-color: white;
}
#left{
    /* styling for the left svg */
    box-sizing: border-box;
    position: relative;
    left: 7vw;
    top: 0.5vw;
    transition: transform 0.3s;
    background-color: white;
}
#left,#right{
    border:none;
}
#left:hover,#right:hover{
        transform: scale(1.2);
}
.Eventsnewev{
display: flex;
justify-content: end;
font-weight: 700;
font-size: 0.8vw;
color: #4789C0;
font-weight: bolder;
}
.Eventsne{
    color: #4789C0;
    cursor: pointer;
    margin-right: 6vw;
    font-weight: bolder;
    font-size: 3.5vh;
    
}
a, a:visited, a:hover, a:active {
   /* disabling color change due to anchor tag */
    color: inherit;
  }
a{
    cursor: pointer;
    text-decoration: none;
}


.event_card_holding{
    margin: 0 1.5vw;
}

#event_cont{
    overflow: hidden;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .events-text{
        font-size: 24px;
    }
    .events-heading{
        margin-left: 30px;
        margin-right: 30px;
    }
    .Eventscontainer{
        height: auto;
    }
    .Eventscard{
        width: 60vw;
        height: 45vw;
    }
    .Eventscards{
        top: -25vw;
    }
    #con{
        font-size: 2vw;
    }
    .Eventstext{
        font-size: 2vw;
    }
}