

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.faq-heading{
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
  color:#1E90FF;
}
.faq-ques-heading{
  text-align: center;
  /* margin:1rem 0; */
  font-size:2rem;
  color:black;
}
.faq-ques-heading span{
  font-size: 2rem;
  color: #1E90FF;
  font-style: normal;
}
.accordion {
  width: 75%;
  max-width: 1000px;
  margin: 4rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.6rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 4rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after{
  content: "\02C5";
  font-size: 1.3rem;
  position: absolute;
  left: 1rem;
  color:#808080;
}
.accordion-item-header.active{
  color: white;
}
.accordion-item-header.active::after {
  content: "\005E";
  color: white;
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem 0rem 0rem 4rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  color:#1E90FF;
  font-weight:normal;
  padding-bottom: 12px;
}

@media screen and (min-width: 320px) and (max-width: 480px){
  .faq-heading{
    font-size: 2rem;
    margin: 1rem 0;
  }
  .faq-ques-heading{
    font-size: 1.5rem;
  }
  .faq-ques-heading span{
    font-size: 1.5rem;
  }
  .accordion{
    width: 70%;
  }
  .accordion-item-header{
    font-size: 1rem;
    font-weight: 500;
  }
}
@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}
