*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* .semi-circle1{
    display: inline-block;
    width:1%;
    height: 15px;
    border-bottom-left-radius: 60%;
    border-top-left-radius: 60%;
    background-color: #4789C0;
    margin-left: 9%;
    position: relative;
    left: 5px;
}
.top-line{
    display: inline-block;
    width:80%;
    height: 15px; 
    margin-left: 0%;
    background-color: #4789C0;
}
.semi-circle2{
    display: inline-block;
    width:1%;
    height: 15px;
    border-bottom-right-radius: 60%;
    border-top-right-radius: 60%;
    background-color: #4789C0;
    position: relative;
    left: -5px;
} */

.navbar{
    font-size: 18px;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
#link{
    text-decoration: none;
    color: white;
    padding-bottom: 8px;
    border-bottom: 1px solid white;
}
.all-links > div {
    display: inline;
}
.all-links{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    margin-top: -5px;
}
.nav-link{
    padding: 1.5rem 1rem 1.7rem 1rem;
}
.active{
    background-color: #4789C0;
}

.nav-container {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 1;
    background-color: black;
}

.nav-container > button {
    background-color: black;
    border: none;

    margin-left: 90%;
    margin-top: 15px;
}
 /* media queries */
@media screen and (min-width: 601px) {
    .nav-container{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .line {
        display: none;
    }
    #none{
        display: none;
    }
    .all-links > div{
        display: block;
        text-align: center;
        padding: 1.2rem 1rem 1.5rem 1rem;
    }
    .active{
        background-color: black;
    }
    .all-links {
        display: block;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 30px;
    }
}
@media screen and (min-width: 601px) and (max-width: 768px){
    .navbar{
        font-size: 12px;
    }
    .top-line, .semi-circle1, .semi-circle2{
        height: 10px;
    }
    .nav-link{
        padding: 1.2rem 0.75rem 1.2rem 0.75rem;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .navbar{
        font-size: 16px;
    }
    .top-line, .semi-circle1, .semi-circle2{
        height: 12px;
    }
}